
.header-button {
	padding: 10px 10px 10px 10px;
	border: 0;
	border-radius: 12px;
	background: #00aca2;
	font-family: inherit;
	color: #e8e8e8;
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	display: block;
}

.header-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.carousel-item
{
	height: calc(100vh - 108px);
	width: 100vw;
	background-position: center center;
	background-size: cover; 
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel-item div {
	text-align: left;
	bottom: 10vh; 
	background-color: rgba(0,0,0,0.6); 
	padding: 20px 20px 20px 20px;
	max-width: 40vw;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px){
	.carousel-item
    {
		height: calc(100vh - 100px);
    }
	
	carousel-item div {
		min-width: 100%;
	}
}

/* Phones */
@media (min-width: 576px) and (max-width: 767px) {
	.carousel-item
    {
		height: calc(100vh - 48px);
    }
	carousel-item div {
		min-width: 100%;
	}
	.header-button {
		padding: 8px 8px 8px 8px;
		font-size: 17px;
		text-align: left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
		display: block;
    }
}