
.header-button {
	padding: 10px 10px 10px 10px;
	border: 0;
	border-radius: 12px;
	background: #00aca2;
	font-family: inherit;
	color: #e8e8e8;
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	display: block;
}

.header-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.carousel-item
{
	height: calc(100vh - 139px);
	width: 100vw;
	background-position: center center;
	background-size: cover; 
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel-item div {
	text-align: left;
	bottom: 10vh; 
	background-color: rgba(0,0,0,0.6); 
	padding: 20px 20px 20px 20px;
	max-width: 40vw;
}
.carousel-item p {
	font-weight: 300;
	font-size: 18px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
	.carousel-item div {
		min-width: 50vw;
	}
 }

/* Tablets */
@media (min-width: 768px) and (max-width: 991px){
	.carousel-item
    {
		height: calc(100vh - 107px);
    }
	
	.carousel-item div {
		min-width: 67%;
	}
}

/* Phones */
@media (max-width: 767px) {
	.carousel-item
    {
		height: calc(100vh - 107px);
    }
	.carousel-item div {
		min-width: 67%;
	}
	.carousel-item h3 {
        font-size: 19px;
	}
	.carousel-item p {
        font-size: 14px;
	}
	.header-button {
		padding: 7px 7px 7px 7px;
		font-size: 14px;
		text-align: left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
		display: block;
    }
}