body {
	margin: 0px 0px 0px 0px;
}
.navbar {
	margin: 0px !important;
	padding: 0 16px;
}

.navbar-nav > li > a {
    margin-top: 25px;
	color:#00ACA2;
    margin-bottom: 25px;
	font-weight:bold;
	font-size:15px;
	padding-top: 15px;
	line-height: 28px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	text-transform: uppercase;
	
	-moz-transition: all .15s ease-in;
	-o-transition: all .15s ease-in;
	-webkit-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

.navbar-brand.asimg
{
	padding: 15px;
}
.navbar-brand.asimg img {
	height: 65px;
}
.navbar-toggler {
	background-color: #00ACA2;
	margin-right: 6px;
	margin-top: 6px;
	padding: .1rem .5rem;
}
.navbar-toggler span{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Tablet and Desktop*/
@media (min-width: 768px) {
	.navbar-brand.astxt {
		display: none;
	}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){
	.navbar {
		min-height: 84px;
	}
    .navbar-nav > li > a {
		line-height: 15px;
		padding: 0px;
		margin: 12px 0px 12px 15px;
	}
	.navbar-brand.asimg img {
		height: 70px;
		width: 234;
	}
	.navbar-toggler {
		margin-right: 10px;
		margin-top: 35px;
	}
	.navbar-nav {
		margin: -5px 0 10px;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.navbar-nav {
		margin: -5px 0 10px;
	}
    .navbar-nav > li > a {
		line-height: 15px;
		padding: 0px;
		margin: 7px 0px 7px 15px;
	}
	.navbar-brand.asimg {
		display: none;
	}
	.navbar {
		min-height: 0px;
		padding: 0px;
		margin: 0px;
	}
	.navbar-brand.astxt {
		padding: 12px;
		padding-left: 15px;
		font-size:18px;
		line-height: 24px;
		color:#00ACA2;
		font-weight: bold;
	}
}