body {
	margin: 0px 0px 0px 0px;
}
.navbar {
	margin: 0px !important;
	padding: 0 16px;
}

.navbar-nav > li > a {
    margin-top: 25px;
	color:#00ACA2;
    margin-bottom: 25px;
	font-weight:bold;
	font-size:15px;
	padding-top: 15px;
	line-height: 28px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	text-transform: uppercase;
	
	-moz-transition: all .15s ease-in;
	-o-transition: all .15s ease-in;
	-webkit-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

.navbar-brand.asimg
{
	padding: 15px;
}
.navbar-brand.asimg img {
	height: 65px;
}
.navbar-toggler {
	background-color: #00ACA2;
	margin-right: 6px;
	margin-top: 6px;
	padding: .1rem .5rem;
}
.navbar-toggler span{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbartop {
	height: 31px;
	padding: 5px 0px;
	background-color: #726767;
	color: #acb5bd;
	font-size: 14px;
	line-height: 21px;
}
.navbartop .phone {
	margin-right: 50px;
	color: #f0f2f4;
	display: inline-block;
}
.navbartop .book,
.navbartop .email {
	color: #f0f2f4;
	display: inline-block;
}
.navbartop .book {
}
.navbartop .book a {
	font-weight: bold;
}
.navbartop .phone a,
.navbartop .email a,
.navbartop .book a {
	color: #f0f2f4;
	text-decoration-color: #f0f2f4;
	text-decoration: none;
}
.navbartop .phone a:hover,
.navbartop .email a:hover,
.navbartop .book a:hover {
	text-decoration: underline;
}
/*Tablet and Mobile*/
@media (max-width: 991px){
	.navbar-brand.asimg {
		width: 180px;
	}	
	.navbar-brand.asimg img {
		height: 45px;
	}	
	.navbar-brand::after {
		display: block;
		content: '';
		background: rgba(51,51,51,0.50);
		height: 1px;
		margin: 17px 0 -17px;
		width: calc(100vw - 32px);
	}
	.navbar-brand.collapsed::after {
		display: none;
	}
	.navbar-nav {
		margin: 2px 0px 2px;
		padding: 0 15px;
	}
	.navbar-nav > li > a {
		line-height: 15px;
		padding: 0px;
		margin: 9px 0px 9px;
	}
	.navbar-toggler {
		margin-right: 10px;
	}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){
}

/* Mobile */
@media (max-width: 767px) {
    .navbar-nav > li > a {
		margin: 7px 0px 7px;
	}
	.navbar {
		min-height: 0px;
		padding: 0px;
		margin: 0px;
	}
	.navbartop .phone {
		margin-right: 20px;
	}
}