#accordion {
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}
#accordion .card {
	border: none;
}

.card-header {
	cursor: pointer;
}

.card-header h5 {
	color: #007bff;
	cursor: pointer;
}

.card-header:hover h5 {
	color: #0056b3;
	text-decoration: underline;
}