#accordion {
	border: 1px solid #bfbfbf;
	border-radius: 5px;
}
#accordion .card {
	border: none;
}

.card-header {
	cursor: pointer;
}

.card-header h5 {
	color: #007bff;
	cursor: pointer;
	user-select: none;
}

.card-header:hover h5 {
	color: #0056b3;
	text-decoration: underline;
}

#bookappointment {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    display: none;
}
#bookappointment .book-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    width: 350px;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
	line-height: 30px
}
#bookappointment .book-content #bookonline {
    width: 180px;
}
.book-content span {
    margin: 5px 5px 5px 5px;
}