.header {
    background-image: url("img/banner.jpeg");
    background-size: cover;
    position: center;
    height: 500px;
    background-repeat: none;
    background-position: fixed;
    font-family: 'Montserrat';
    font-size: 40px;
}
.header-vertical-align {
    position: relative;
    top: 45%;
    transform: translateY(-55%)
}
.header-vertical-align span {
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    width: 800px;
}
.header-title {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #666666;
}
.header-sub-title {
    color: #999999;
    font-family: 'Montserrat';
    font-size: 25px;
    margin-top: 20px;
}
@media only screen and (min-width: 500px) {
    .header-vertical-align span {
        width: 100%;
    }
}
.header-button {
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
    margin-top: 20px;
    border: 0;
    border-radius: 12px;
    background: #00aca2;
    font-family: inherit;
    color: #e8e8e8;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    display: block;
}
.header-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

