.content-1 {
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1000px) {
    .content-1 {
        width: 100%;
    }
}
.content-1 .col-md-4 {
    padding: 15px 15px 15px 15px;
}
.content-1 img {
    width: 70px;
}
.content-1-header {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.content-1-text {
    font-family: 'Open Sans';
    font-weight: 300;
}
.content-2 {
    width: 100%;
    height: 250px;
    background-image: url("img/background.jpg");
    background-size: cover;
    text-align: center;
}
.content-2-big-text-1 {
    font-size: 75px;
    color: #00aca2;
    text-shadow: 2px 2px 1px gray;
}
.content-2-small-text-1 {
    font-size: 21px;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 1px gray;
}