.content-1 {
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1000px) {
    .content-1 {
        width: 100%;
    }
}
.content-1 .col-md-4 {
    padding: 15px 15px 15px 15px;
}
.content-1 img {
    width: 70px;
}
.content-1-header {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.content-1-text {
    font-family: 'Open Sans';
    font-weight: 300;
}
.content-2 {
    width: 100%;
    height: 300px;
    background-image: url("img/background.jpg");
    background-size: cover;
    text-align: center;
}
.content-2-big-text-1 {
    font-size: 75px;
    color: #00aca2;
    text-shadow: 0.75px 0.75px 2px rgba(0, 0, 0, 0.25);
}
.content-2-small-text-1 {
    font-size: 21px;
    color: white;
    font-weight: 400;
    text-shadow: 0.75px 0.75px 3px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1000px) {
    .content-2 {
        height: 600px;
    }    
}

.content-3-img {
    padding: 20px 20px 20px 20px;
}
.content-3-img img {
    width: 100%; 
    height: 450px;
}
.content-3-big-text {
    font-family: 'Open Sans';
    font-size: 30px
}
.content-3-button {
    padding: 9px 9px 9px 9px;
	border: 0;
	border-radius: 12px;
	background: #00aca2;
	font-family: inherit;
	color: #e8e8e8;
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	display: block;
    font-family: 'Montserrat';
	font-size: 18px;
}
.content-3-inner-text {
    margin: 10px 10px 10px 10px;
    height: 450px;
}

.content-4 .container-fluid .row #1 {

}
.content-4-inner-text {
    margin: 10px 10px 10px 10px;
}
.content-4-header-1 {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
}
.content-4-text-1 {
    padding-left: 3px;
}